# Python
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/

# If you use Django collectstatic
/static/
/media/

# Environment variables
.env
.env.local
.env.development
.env.production

# VSCode
.vscode/

# PyCharm
.idea/

# Virtual environment
venv/
ENV/
env/
.venv/

# macOS
.DS_Store

# Windows
Thumbs.db

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually contains files created during builds
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Type checker
mypy_cache/
.dmypy.json
dmypy.json

# IDEs
.spyderproject
.spyproject
ropeproject
